@model Models.Ubicacion

@{
    ViewBag.Title = "Details";
}
<section class="content-header">
    <h2>Detalles</h2>
</section>

<section class="content">

    <div class="box">
        <div class="box-body">
            <div>
                <h4>Ubicación</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EdificioId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EdificioId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nombre_ubicacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre_ubicacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.observacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.observacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.estado_ubicacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.estado_ubicacion)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.UbicacionId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>

</section>
