@model Models.Categoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        @{ var creacion = Convert.ToDateTime(Model.fecha_creacion).ToString("dd/MM/yyyy"); }
        <dt>
            @Html.DisplayName("Nombre")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_categoria)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Creación")
        </dt>
        <dd>
            @Html.DisplayFor(model => creacion)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado_categoria)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoriaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
