@model Models.Usuario

@{
    ViewBag.Title = "Login";
}
<div class="limiter">
    <div class="container-login100" style="background-image: url('/assets/images/space.jpg');">
        <div class="wrap-login100">
            @using (Html.BeginForm())
            {
            <form class="login100-form validate-form">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Log in
                </span>
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input">
                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @Html.PasswordFor(model => model.password, htmlAttributes: new { @class = "input100" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
                    }
            </div>
        </div>
    </div>
