@model IEnumerable<Models.Mobiliario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table col-md-12">
    <tr>
        <th>
            @Html.DisplayName("Estado del Mobiliario")
        </th>
        <th>
            @Html.DisplayName("Tipo de Mobiliario")
        </th>
        <th>
            @Html.DisplayName("Ubicacion")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Fecha de Creación")
        </th>
        <th>
            @Html.DisplayName("Número de Serie")
        </th>
        <th>
            @Html.DisplayName("Fecha de Baja")
        </th>
        <th>
            @Html.DisplayName("Observación")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    //SE PUEDE MEJORAR PROFUNDIZANDO MAS EN LINQ ****PENDIENTE****
    BusinessLogicLayer.ClassTipoMobiliario tm = new BusinessLogicLayer.ClassTipoMobiliario();
    BusinessLogicLayer.ClassUbicacion ub = new BusinessLogicLayer.ClassUbicacion();
    var infoTM = (List<Models.Tipomobiliario>)tm.BuscarTipoMobiliarioPorId(Convert.ToInt32(item.TipomobiliarioId));
    var infoUB = (List<Models.Ubicacion>)ub.BuscarUbicacionPorId(Convert.ToInt32(item.UbicacionId));
    var TipoMob = infoTM[0].descripcion;
    var Ubicacion = infoUB[0].nombre_ubicacion;

    string estado = "Inactivo";
    if (item.EstadomobiliarioId == 1)
    { estado = "Activo"; }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => estado)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => TipoMob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_mobiliario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_baja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MobiliarioId }) |
            @Html.ActionLink("Details", "Details", new { name = item.numero_serie}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MobiliarioId })
        </td>
    </tr>
}

</table>
