@model IEnumerable<Models.Mobiliario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Estado del Mobiliario")
        </th>
        <th>
            @Html.DisplayName("Tipo de Mobiliario")
        </th>
        <th>
            @Html.DisplayName("Ubicacion")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Fecha de Creación")
        </th>
        <th>
            @Html.DisplayName("Número de Serie")
        </th>
        <th>
            @Html.DisplayName("Fecha de Baja")
        </th>
        <th>
            @Html.DisplayName("Observación")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadomobiliarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipomobiliarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UbicacionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_mobiliario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_baja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MobiliarioId }) |
            @Html.ActionLink("Details", "Details", new { name = item.numero_serie}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MobiliarioId })
        </td>
    </tr>
}

</table>
