@model IEnumerable<Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombres_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cui_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombres_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cui_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpleadoId }) |
            @Html.ActionLink("Details", "Details", new { name = item.nombres_empleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpleadoId })
        </td>
    </tr>
}

</table>
